<div class="add-btn">Add note</div>

<h1 class="logo">
	<a href="index.html">NOTES</a>
</h1>
<div class="logo frame">NOTES</div>

<nav class="nav">
	<ul> 
		<li>Archive</li>
		<li>Login</li>
		<li></li>
	</ul>
</nav>	
